<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zdk.pojun.heartrec"
    >

    <!--长按权限-->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <!--写入外部存储-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--读取SD卡-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <activity
            android:exported="true"
            android:label="@string/app_name"
            android:name="com.zdk.pojun.heartrec.activity.Main_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:label="@string/app_name"
            android:name="com.zdk.pojun.heartrec.activity.NewOne_activity"></activity>

        <activity
            android:label="@string/app_name"
            android:name="com.zdk.pojun.heartrec.activity.Painter_activity"
            android:exported="true"></activity>

        <activity
            android:label="@string/app_name"
            android:name="com.zdk.pojun.heartrec.activity.ColorSelect_activity"
            android:theme="@style/MyDialogStyle"></activity>

        <activity
            android:label="@string/app_name"
            android:name="com.zdk.pojun.heartrec.activity.Record_activity"
            android:theme="@style/MyDialogStyle"></activity>

    </application>

</manifest>
